section{
    padding-bottom: 50px;
    border-bottom-color: black;
    border-bottom: solid;
    border-bottom-width: 1px;
}
section:first-child>h4{
    color: blue;
}
section:nth-child(0n+2){
    border-bottom-width: 5px ;
    border-bottom-color: red !important;
    border-bottom: solid;
}
section:nth-child(3)>h3,section:nth-child(3)>ul>li{
    color:red;
}
li>a{
    font-size: 25px;
}
h3+span{
    color: royalblue;
}
img[src="https://media.giphy.com/media/jB5yvgkfOa5VK/giphy.gif"]{
    border: solid;
    border-radius: 25px;
}
section:last-of-type p:hover{
    color: seagreen;
}




